
savedModels/astropre100epochsfine90/finetunas/checkpoint
savedModels/astropre100epochsfine90/finetunas/eval/events.out.tfevents.1610599347.6528fcc82c4f
savedModels/astropre100epochsfine90/finetunas/events.out.tfevents.1610432502.6528fcc82c4f
savedModels/astropre100epochsfine90/finetunas/flags.json
savedModels/astropre100epochsfine90/finetunas/graph.pbtxt
savedModels/astropre100epochsfine90/finetunas/hub/141358/saved_model.pb
savedModels/astropre100epochsfine90/finetunas/hub/141358/tfhub_module.pb
*.data-00000-of-00001
savedModels/astropre100epochsfine90/finetunas/hub/141358/variables/variables.index
savedModels/astropre100epochsfine90/finetunas/model.ckpt-135106.index
savedModels/astropre100epochsfine90/finetunas/model.ckpt-135106.meta
savedModels/astropre100epochsfine90/finetunas/model.ckpt-136677.index
savedModels/astropre100epochsfine90/finetunas/model.ckpt-136677.meta
savedModels/astropre100epochsfine90/finetunas/model.ckpt-138248.index
savedModels/astropre100epochsfine90/finetunas/model.ckpt-138248.meta
savedModels/astropre100epochsfine90/finetunas/model.ckpt-139819.index
savedModels/astropre100epochsfine90/finetunas/model.ckpt-139819.meta
savedModels/astropre100epochsfine90/finetunas/model.ckpt-141358.index
savedModels/astropre100epochsfine90/finetunas/model.ckpt-141358.meta
savedModels/astropre100epochsfine90/finetunas/result.json
savedModels/astropre100epochsfine90/finetunas/result_141358.json
*.index
Inference/tf1/savedModels/astropre100epochsfine90/finetunas/checkpoint
*.6528fcc82c4f
*.json
*.pbtxt
*.pb
*.meta
*.pt
*.npy
*.zip